@{
    ViewBag.Title = "Confirmacion de Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar su email. Por favor @Html.ActionLink("Haga clic aqui para Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
